@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import "./sassVariables";

* {
    font-family: $font;
}

html {
    @include background();
}

div {
    @include background();
    color: white;
}

.row {
    padding: 20px;
}

h2 {
    padding: 10px;
}

p {
    padding: 5px;
}

@media screen and (min-height: 1300px) {
    footer {
        position: absolute;
        bottom: 0;
    }
}