@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}

html {
    background-color: rgb(31, 37, 41);
}

div {
    background-color: rgb(31, 37, 41);
    color: white;
}

.title {
    font-weight: bold;
}

img {
    width: 500px;
}

h2, h3 {
    padding: 10px;
}

@media screen and (min-height: 1300px) {
    footer {
        position: absolute;
        bottom: 0;
    }
}