@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');


html {
    background-color: rgb(31, 37, 41);
}

* {
    font-family: 'Quicksand', sans-serif;
}

.container {
    background-color: rgb(31, 37, 41);
    color: white;
}

#info {
    padding-top: 250px;
    background-color: rgb(31, 37, 41);
}

#napit {
    background-color: rgb(31, 37, 41);
}

/* task 5.1 */
button[class^="btn"] {
    background-color: rgb(31, 37, 41);
}

h1 a {
    text-decoration: none;
}

#oamk:hover {
    color: blue;
}

button a {
    text-decoration: none;
    color: white;
}

footer {
    position: absolute;
    bottom: 0;
}

@media screen and (max-width: 600px) {
    #info {
        padding-top: 100px;
    }
}