@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

$backgroundColor : rgb(31, 37, 41);
@mixin background {
    background-color: $backgroundColor;
}

html {
    @include background()
}

* {
    font-family: 'Quicksand', sans-serif;
}

#info {
    padding-top: 250px;
    @include background()
}

#napit {
    @include background()
}

/* task 5.1 */
button[class^="btn"] {
    @include background();
    a {
        text-decoration: none;
        color: white;
    }
}

h1 a {
    text-decoration: none;
}

#oamk:hover {
    color: blue;
}

footer {
    position: absolute;
    bottom: 0;
}

@media screen and (max-width: 600px) {
    #info {
        padding-top: 100px;
    }
}